{% extends "base.html" %}

{% block content %}


    <!-- homepage -->
    <div class="homepage mt-2">
        <div class="m-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-image p-4 mb-3"
                        style="background-image: url(https://1.bp.blogspot.com/-IW8OiqJYe1c/YE0bk4-CfRI/AAAAAAAAFig/aH-WV6-3eaE9Fqf7GOkOrBLL008giPfZQCLcBGAsYHQ/s500-rw/newspaper.jpg);">
                        <div class="headline-text">
                            <button class="btn btn-warning btn-sm mt-5">Business</button>
                            <h4 class="news-headings mt-2"><a href="">#NotSoBar: How Kenyans defy curfew and risk their
                                    lives all for a drink</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 news-right">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-image p-4 mb-3"
                                style="background-image: url(https://1.bp.blogspot.com/-IW8OiqJYe1c/YE0bk4-CfRI/AAAAAAAAFig/aH-WV6-3eaE9Fqf7GOkOrBLL008giPfZQCLcBGAsYHQ/s500-rw/newspaper.jpg);">
                                <div class="headline-">
                                    <button class="btn btn-primary btn-sm mt-1">Business</button>
                                    <h5 class="news-headings mt-2"><a href="">#NotSoBar: How Kenyans defy curfew and
                                            risk their
                                            lives all for a drink</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-image p-4 mb-3"
                                style="background-image: url(https://1.bp.blogspot.com/-IW8OiqJYe1c/YE0bk4-CfRI/AAAAAAAAFig/aH-WV6-3eaE9Fqf7GOkOrBLL008giPfZQCLcBGAsYHQ/s500-rw/newspaper.jpg);">
                                <div class="headline-">
                                    <button class="btn btn-primary btn-sm mt-1">Business</button>
                                    <h5 class="news-headings mt-2"><a href="">#NotSoBar: How Kenyans defy curfew and</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-image p-4 mb-3"
                                style="background-image: url(https://1.bp.blogspot.com/-IW8OiqJYe1c/YE0bk4-CfRI/AAAAAAAAFig/aH-WV6-3eaE9Fqf7GOkOrBLL008giPfZQCLcBGAsYHQ/s500-rw/newspaper.jpg);">
                                <div class="headline-">
                                    <button class="btn btn-primary btn-sm mt-1">Business</button>
                                    <h5 class="news-headings mt-2"><a href="">#NotSoBar: How Kenyans defy curfew and
                                            risk their
                                            lives all for a drink</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-image p-4 mb-3"
                                style="background-image: url(https://1.bp.blogspot.com/-IW8OiqJYe1c/YE0bk4-CfRI/AAAAAAAAFig/aH-WV6-3eaE9Fqf7GOkOrBLL008giPfZQCLcBGAsYHQ/s500-rw/newspaper.jpg);">
                                <div class="headline-">
                                    <button class="btn btn-primary btn-sm mt-1">Business</button>
                                    <h5 class="news-headings mt-2"><a href="">#NotSoBar: How Kenyans defy curfew and</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- sources -->
    <div class="sources m-2">
        <div class="card p-2">
            <h3 class="text-uppercase headings">news sources</h3>
            <div class="row">
                <div class="col-md-12">
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera </a>
                    <a href="" class="btn btn-primary mb-2">Al Jazeera English</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}