{% import 'macros.html' as macro%}
{% extends "base.html" %}
{% block content %}


<!-- homepage -->
<div class="homepage mt-2">
    <div class="m-2">
        <div class="row">
            <div class="col-md-6">
                {% for bbc in bbc_home_picture %}
                <div class="card-image p-4 mb-3" style="background-image: url(  {{bbc.urlToImage}}  );">
                    <div class="headline-text">
                        <button class="btn btn-warning btn-sm mt-5">BBC News</button>
                        <h4 class="news-headings mt-2"><a target="_blank" href="{{ bbc.url }}">{{ bbc.title }}</a>
                        </h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-6 news-right">
                <div class="row">
                    {% for cnn_news in cnn %}
                    <div class="col-md-6">
                        <div class="card-image p-4 mb-3" style="background-image: url({{cnn_news.urlToImage}});">
                            <div class="headline-">
                                <button class="btn btn-primary btn-sm mt-1">CNN News</button>
                                <h5 class="news-headings mt-2"><a target="_blank"
                                        href="{{cnn_news.url}}">{{cnn_news.title}}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for google in google %}
                    <div class="col-md-6">
                        <div class="card-image p-4 mb-3" style="background-image: url({{google.urlToImage}});">
                            <div class="headline-">
                                <button class="btn btn-primary btn-sm mt-1">Google News</button>
                                <h5 class="news-headings mt-2"><a target="_blank" href="{{google.url}}">{{ google.title
                                        }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- sources -->
<div class="sources m-2">
    <div class="card p-2">
        <h3 class="text-uppercase headings">news sources</h3>
        <div class="row">
            <div class="col-md-12">
                {{ macro.displayNewsSources(sources) }}
            </div>
        </div>
    </div>
</div>

<!-- top  bbc news-->
<div class="top-news m-2">
    <h3 class="text-uppercase headings text-center mt-5 mb-4">top BBC News</h3>
    <div class="row">
        {{ macro.displayNewsSourceArticles(bbc_news) }}
    </div>
</div>
<!-- Al Jazeera English News -->
<div class="top-news m-2">
    <h3 class="text-uppercase headings text-center mt-5 mb-4">top Al Jazeera English News</h3>
    <div class="row">
        {{ macro.displayNewsSourceArticles(aljazeera_english) }}
    </div>
</div>
{% endblock %}